.installer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 50%;
}
label {
  margin-top: 3em;
}
#text_database {
  margin-top: 1em;
}
#text_dbhost {
  margin-top: 1em;
}
#text_user {
  margin-top: 1em;
}
#text_passwd {
  margin-top: 1em;
}
#button_install {
  margin-top: 3em;
}
