label {
    margin-top: 3em;
}
#button_newuser {
    margin-top: 3em;
}
#text_user {
    margin-top: 1em;
}
.adduser {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 50%;
}
