label {
    margin-top: 3em;
}
#button_newuser {
    margin-top: 3em;
}
#text_user {
    margin-top: 1em;
}
.adduser {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 50%;
}
#adduser-button-done {
  position: absolute;
  bottom: 2em;
  right: 2em;
}
