#login {
  display: flex;
  flex-direction: column;
}
.loginform {
  width: 75%;
  max-width: 30em;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin: .1em auto;
}
#rememberme {
  border: none;
  cursor: pointer;
  user-select: none;
}
#rememberme input {
  margin-right: .4em;
  cursor: pointer;
}
#loginButton {
  border: none;
}
#wrongpw {
  width: 100%;
  margin: 0 auto;
  color: red;
  font-weight: 800;
  text-align: center;
}
#logout {
  width: 100%;
  margin: 0 auto;
  color: #4CAF50;
  font-weight: 800;
  text-align: center;
}
