@media print {
  html{
    background-color: white;
  }
  #remove{display: none;}
  div #done{display: none;}
  div #count font, div #name font{
    color: black;
  }
  div #count font {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 2em;
  }
  div #name font {
    padding-right: 3em;
  }
  .even {
    background-color: #fff;
  }

  .odd {
    background-color: #b9b9b9;
  }
  .new{display: none;}
