.settings {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.pane {
  border: 1px solid grey;
  border-radius: 5px;
  background-color: #ddd;
  margin: 1%;
  width: auto;
  min-width: max-content;
  max-width: 45%;
  height: max-content;
}
.userprofile-pane {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.userprofile {
  width: 22em;
  display: flex;
  flex-direction: column;
}
.userpassword-pane {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.userpassword {
  width: 22em;
  display: flex;
  flex-direction: column;
}
.userprofile span {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.userpassword span {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.attribute {
  width: 6em;
  padding: 1em;
}
.change-attribute-input {
  text-indent: 1em;
  color: grey;
}
.value {
  padding: 1em;
}
#passwordSaveButton, #userSaveButton {
  align-self: flex-end;
  margin: 1em;
}
