.userprofile {
  width: 30em;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: #ddd;
}
.userprofile span {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.attribute {
  width: 6em;
  padding: 1em;
}
.change-attribute-input {
  
}
.value {
  padding: 1em;
}
#safeButton {
  margin: 1em;
  width: min-content;
  float: right;
}
