# prevent access to these files while not logged in
<files "classes.*.php">
  Require all denied
</files>

<files "auth.php">
  Require all denied
</files>

<files "connect.php">
  Require all denied
</files>

<files "hash.php">
  Require all denied
</files>
